/node_modules
/public/assets
/public/css
/public/js
/public/img
/public/mix-manifest.json
/public/storage
/public/static
/public/vendor/statamic
/public/vendor/statamic-responsive-images
/storage/*.key
/storage/glide
/vendor
/users
**/.meta/
.env
.env.backup
.phpunit.result.cache
.idea
.DS_Store
.docker-sync
npm-debug.log
yarn-error.log
