<link rel="icon" type="image/svg+xml" href="/images/favicons/favicon.svg" sizes="any">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="512x512"  href="/images/favicons/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/images/favicons/ms-icon-150x150.png">
<meta name="theme-color" content="#ffffff">
