<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        {{ partial:layout/built-by }}
        {{ partial:layout/meta }}
        {{ partial:layout/favicons }}
        <link rel="stylesheet" href="{{ mix src='/css/site.css' }}">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="text-base antialiased font-light">
        {{ partial:layout/header }}
        {{ yield:seo_body }}
        <main>
            {{ template_content }}
        </main>
        {{ partial:layout/footer }}
        {{ partial:layout/scripts }}
        {{ partial:helpers/utility-class-helper }}
    </body>
</html>
