{{# This is the default template. If no other is defined and assigned, this one will be loaded. #}}
<section class="h-screen px-8 flex flex-col items-center justify-center">
    <img class="max-w-xl md:mb-4" alt="visuellverstehen" src="https://www.visuellverstehen.de/typo3conf/ext/visuel/Resources/Public/Images/visuellverstehen-logo-rgb.svg">
    <p>Building something amazing with Statamic.</p>
</section>
<section>
    {{ pagebuilder }}
        {{ partial src="sets/pagebuilder/{type}" }}
    {{ /pagebuilder }}
</section>
